body {
  background-color: #e5e4db;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.header {
  text-align: center;
  font-size: 50px;
}

.contents {
  background-color: bisque;
  width: 600px;
  padding: 8px;
  margin: 0 auto;
}

.title {
  font-size: 30px;
}
